@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  background-color: #ddfcff;
}

h1 {
  text-align: center;
  font-size: 3vw;
}

footer {
  position: absolute;
  bottom: 2vw;
  left: 30vw;
  width: 40vw;
  text-align: center;
  font-size: 1vw;
  opacity: 0.5;
}