.selected-course {
  padding-left: 2vw;
}

.folder-selection,
.tasks-section {
  width: 35%;
  display: inline-block;
  border-left: solid 1vw #8282ff;
  vertical-align: top;
}

.folder-option,
.task-item,
.material-item {
  margin-left: 1vw;
  width: 28vw;
  padding: 2vw;
  border-bottom: solid 0.1vw #ccc;
  cursor: pointer;
}

.folder-option:hover,
.task-item:hover,
.material-item:hover  {
  text-decoration: underline;
}

.folder-option:before {
  font-family: "FontAwesome";
  content: '\f070';
  padding-right: 1vw;
  cursor: pointer;
}

.visible:before {
  font-family: "FontAwesome";
  content: '\f06e';
  padding-right: 1vw;
}

.selected:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 33vw;
  width: 5vw;
  height: 1vw;
  background: #8282ff;
}

.tasks-section {
  width: 60%;
}

.task-item,
.material-item {
  width: 52vw;
}

.addItem {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  height: 6vw;
  width: 6vw;
  line-height: 1vw;
  font-size: 4vw;
  border-radius: 100%;
  background: #ddfcff;
  border: none;
  cursor: pointer;
}

.addItem:hover,
.statsButton:hover {
  box-shadow: 0 0 2vw rgba(0,0,0,0.4);
}

.addItem:focus,
.statsButton:focus {
  outline: none;
  background: #b4ede5;
}

.statsButton {
  position: absolute;
  top: 7vw;
  right: 2vw;
  height: 6vw;
  width: 6vw;
  border-radius: 100%;
  background: #8282ff;
  border: none;
  cursor: pointer;
}

.statsButton:after {
  font-family: "FontAwesome";
  content: '\f080';
  color: white;
  font-size: 3vw;
}

.taskInfo {
  position: absolute;
  margin-left: 40vw;
  margin-top: -3vw;
  padding: 0vw;
  background: #73aa66;
  color: white;
  width: 14vw;
  text-align: center;
  border-radius: 0.4vw;
}

.taskInfo p {
  margin: 0.5vw 0;
}

.time,
.returns {
  display: inline-block;
  padding: 0vw 1vw;
  text-align: center;
}

.late {
  background: #c15252;
}