header {
  width: 100%;
  height: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-align: left;
  box-shadow: 0 0.3vw 1vw rgba(0,0,0,0.2);
  background-color: #ddfcff;
}

.header-logo {
  max-height: 90%;
  position: absolute;
  margin: 0.5vw 1vw;
  left: 0;
  cursor: pointer;
}

.page-title {
  margin: 1vw auto;
  text-align: center;
  font-size: 2vw;
}

.user-name {
  position: absolute;
  right: 1vw;
  font-size: 2vw;
  top: -0.7vw;
  cursor: pointer;
}