.login-form {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ddfcff;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

.login-input {
  text-align: center;
  display: block;
  padding: 1vw;
  margin: 1vw auto;
  width: 30vw;
  font-size: 2vw;
}

.login-logo {
  max-width: 30vw;
  margin: 1vw auto;
  display: block;
}

.login-button {
  font-size: 2vw;
  display: block;
  padding: 2vw 3vw;
  margin: 1vw auto;
  color: white;
  background: #66aa9f;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  outline: none;
  text-align: center;
  width: 30vw;
}

.login-button:hover {
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.4);
}

.login-button:focus {
  outline: none;
  background: #4d8c80;
}

.login-issue {
  text-align: center;
  display: block;
  cursor: pointer;
}

.login-issue:hover {
  color: #66aa9f;
}

.new-user-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 40vw;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 0 3vw rgba(0, 0, 0, 0.4);
}

.display-none {
  display: none;
}

.close {
  border: 0.3vw solid black;
  width: 2vw;
  height: 2vw;
  padding: 0.3vw;
  border-radius: 3vw;
  float: right;
  text-align: center;
  line-height: 1.6vw;
  font-size: 2vw;
  cursor: pointer;
}

.close:hover {
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}
