.stats-container {
  display: block;
  position: relative;
  width: 94vw;
  margin: 1vw;
  z-index: 1;
  height: 50vw;
  box-shadow: 0 0 1vw rgba(0,0,0,0.4);
  background-color: #ddfcff;
  border-radius: 2vw;
  padding: 2vw;
  overflow-y: scroll;
  overflow-x: scroll;
}

.stats-table {
  border-spacing: 0;
}

tr {
  width: 100%;
  font-size: 1.1vw;
}

td, 
th {
  border: 0.1vw solid #4d8c80;
  text-align: left;
  padding: 1vw;
  width: 10vw;
  box-sizing: inherit;
  text-align: center;
  background: rgba(255,255,255,0.3);
}

td:nth-child(even) {
  background-color: #b4ede5;
}

.student-name {
  background: #4d8c80;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.student-name:hover {
  text-decoration: underline;
}

.stats-title {
  display: inline-block;
  font-size: 2vw;
  margin-top: 0;
}

.select-stats-scope {
  display: inline-block;
  margin-bottom: 1vw;
  outline: none;
  border-radius: 0.5vw;
  border: 0;
  font-size: 2vw;
  box-sizing: inherit;
  background: none;
  font-family: 'Roboto Slab', serif;
}

/* weird solution for the color boxes, I don't know how I came up with this.... */

.pass,
.fail,
.check,
.late,
.ongoing,
.published,
.unpublished {
  background: #73aa66;
  border-radius: 1vw;
  padding: 0.5vw 0;
  cursor: pointer;
  color: white;
}

.fail {
  background: #ce2020;
}

.check {
  background: #4d8c80;
}

.empty {
  cursor: pointer;
}

.late {
  background: #c15252;
}

.unpublished {
  background: #7dc9bb;
  opacity: 0.4;
}

.unpublished:hover {
  opacity: 1;
}

.published,
.ongoing {
  background: #7dc9bb;
}

.empty:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  color: #ce2020;
  font-size: 3vw;
}

.empty:hover:before {
  color: orange;
  content: '\f0f3';
}

/* stats menu */

.stats-menu {
  margin-right: 2vw;
  position: absolute;
  right: 0;
  top: 6vw;
}

.stats-menu-item {
  display: inline-block;
  position: relative;
  margin: 0 1vw;
  padding: 1vw;
  padding-bottom: 3vw;
  box-shadow: 0 0 1vw rgba(0,0,0,0.4);
  background-color: #ddfcff;
  border-radius: 1vw 1vw 0 0;
  cursor: pointer;
  font-size: 1.1vw;
  z-index: 0;
}

.stats-menu-item:hover {
  text-decoration: underline;
}

.active {
  z-index: 4;
}

.active:after {
  content: '';
  width: 30vw;
  height: 4vw;
  background-color: #ddfcff;
  display: block;
  position: absolute;
  border-radius: 1vw;
  right: -1vw;
  top: 3.3vw;
}