.settings-page {
  margin-top: 5vw;
  padding-left: 2vw;
}

.settings-logo {
  display: inline-block;
  vertical-align: middle;
  width: 10vw;
  padding: 2vw;
}

.settings-title {
  display: inline-block;
  vertical-align: middle;
}

.setting-option {
  margin-left: 1vw;
  width: 28vw;
  padding: 2vw;
  border-bottom: solid 0.1vw #ccc;
  cursor: pointer;
}

.setting-option:hover {
  text-decoration: underline;
}

.setting-section {
  width: 52vw;
  display: inline-block;
  border-left: solid 1vw #8282ff;
  vertical-align: top;
  min-height: 30vw;
  padding-left: 3vw;
}

label {
  display: block;
  font-size: 1.1vw;
  padding-top: 2vw;
}

.change-password-button {
  font-size: 1.1vw;
  display: block;
  margin-top: 1vw;
  padding: 1vw;
  color: white;
  background: #66aa9f;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.change-password-button:hover {
  box-shadow: 0 0 2vw rgba(0,0,0,0.4);
}

.change-password-button:focus {
  outline: none;
  background: #4d8c80;
}